body {
    background-color: #495464;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.user-friends-zone, .user-search-zone {
    padding: 20px;
}

.friend-item, .friend-request-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: #F4F4F2;
    line-height: 1.4;
}

.remove-friend-btn-img {
    width: 36px;
    height: 36px;
}

#searchBox {
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 10px;
    width: 300px;
    outline: none;
}


#friends-list, #friends-request-list {
    height: 40vh; /* Adjust this value based on your needs */
    overflow-y: auto; /* This enables vertical scrolling when necessary */
    width: 100%; /* Optional: Adjust width as needed */
}

#userList {
    max-height: 80vh; /* Adjust this value based on your needs */
    overflow-y: auto; /* This enables vertical scrolling when necessary */
    width: 100%; /* Optional: Adjust width as needed */
}

.user-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: #F4F4F2;
    line-height: 1.4;
}

.user-item > button {
    width: 200px;
}

.btn-accept-reject-container {
    align-content: center;
}


.friend-item div div:nth-child(2) {
    font-style: italic;
    font-size: 0.8rem;
}

.friend-request-item div div:nth-child(2) {
    font-style: italic;
    font-size: 0.8rem;
}

.user-item div div:nth-child(2) {
    font-style: italic;
    font-size: 0.8rem;
}


@media (max-width: 992px) {
    .btn-accept-reject-container {
        display: flex;
        flex-direction: column;
    }

    .btn-accept-reject-container .btn {
        width: 100%;
        margin-bottom: 5px;
        font-size: 0.8rem;
    }

    .btn-accept-reject-container .btn {
        width: 100%;
        margin-bottom: 5px;
    }

    .user-item .btn {
        margin-bottom: 5px;
        font-size: 0.8rem;
    }

}