
body {
    background-color: #495464;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.user-information {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.user-workspace-container {
    margin: 20px;
}

#workspace-container {
    margin-left: 120px;
    width: 100%;
}

#workspace-mid-user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

#user-information-detail {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    padding: 20px;
    border-radius: 24px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);

}

.user-detail {
    color: white;
}


.user-detail {
    margin-bottom: 10px;
}


#user-picture {
    cursor: pointer;

}

#user-picture:hover {
    transform: scale(1.05);

}

.user-detail > img {
    transition: all 0.3s ease;
}

.user-workspaceList, .user-workspaceList-head-container, .create-workspace {
    margin: 5px;
}

.user-workspaceList-head-container {
    width: 600px;
}

.workspace-workspaceList-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-workspace {
    margin: 0 auto 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.workspaceList {
    background-color: #343a40;

    margin: 20px;
    padding: 15px;

}

.workspaceList-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 24px;
}


.workspace-entry {
    width: 25%;
    height: 30vh
}


.workspace-entry {
    background-color: #F4F4F2;
    padding: 20px;
    border-radius: 24px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-label {
    color: white;

}

.create-workspace-form {
    background-color: #343a40;
    padding: 35px;
    border-radius: 24px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.workspace-entry:hover {
    background-color: #c9c4c4;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.workspace-name-description-container {
    margin-bottom: 10px;
    word-break: break-all;
}

.workspace-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.workspace-entry-list td {
    word-break: break-all;
    margin: 20px 0;
    padding: 20px;
}

.workspace-name-td, .workspace-owner-td {
    width: 25%;

}

.workspace-description-td {
    width: 40%;

}

.workspace-btn-td {
    width: 10%;

}


.user-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#user-picture {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-right: 20px;
    border: 1px solid #ccc;
}


.workspace-name-description-btn-container {
    /*align-content: center;*/
    /*justify-content: center;*/
}


.workspace-description {
    font-size: 0.8rem;
    word-break: break-all;
}

.filter-container {
    margin: 20px;
}

#workspaceFilter, #ownershipFilter {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.workspaceList-list {

    background-color: #343a40;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 24px;
}

table {
    border-collapse: collapse;
    color: white;
    width: 100%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 0; /* Align with the top of the button */
    left: 100%; /* Position to the right of the button */
    display: none; /* Start hidden and show on click */
}

.enter-workspace-btn, .leave-workspace-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.toggle-dropdown-btn:hover {
    cursor: pointer;
}

.enter-workspace-btn:hover {
    background-color: #6f7071;
}

.leave-workspace-btn:hover {
    background-color: #6f7071;
}

.bi-grid, .bi-list-ul {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}

.workspace-name-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workspace-owner {
    font-size: 0.8rem;
    color: #6c757d;
}


@media (max-width: 992px) {
    .workspace-name-description-container, .workspace-name-description-btn-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn {
        width: 100%; /* Full width buttons */
        margin-top: 10px; /* Extra margin for stacked layout */
    }
}

@media (max-width: 992px) {
    .user-detail {
        flex-direction: column; /* Stack information vertically */
        align-items: center; /* Center align to maintain aesthetics */
        text-align: center; /* Text aligned center */
    }

    .user-detail img {
        margin-bottom: 10px; /* Space between image and name when stacked */
    }


}

@media (max-width: 1440px) {

    .workspace-entry {
        width: 100%;
        height: 20vh
    }

}

