
body {
    background-color: #495464;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.user-information {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.user-workspace-container {
    margin: 10px 20px 10px 20px;
    height: 100vh;
}

#workspace-container {
    margin-left: 300px;
    width: Calc(100% - 300px);
}

#workspace-mid-user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

#user-information-detail {
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    padding: 20px;
    border-radius: 24px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);

}

.user-detail {
    color: white;
}


.user-detail {
    margin-bottom: 10px;
}


#user-picture {
    cursor: pointer;

}

#user-picture:hover {
    transform: scale(1.05);

}

.user-detail > img {
    transition: all 0.3s ease;
}

.user-workspaceList, .user-workspaceList-head-container, .create-workspace {
    margin: 5px;
}

.user-workspaceList-head-container {
    width: 600px;
}

.workspace-workspaceList-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-workspace {
    margin: 0 auto 0 0;
    width: 100%;
    justify-content: center;
    align-items: center;

}


.workspaceList {
    background-color: #343a40;

    margin: 0 20px;
    padding: 15px;

}

.workspaceList-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 24px;
    height: 80vh;
}


.workspace-entry {
    width: 30%;
    height: 300px
}


.workspace-entry {
    background-color: #F4F4F2;
    padding: 20px;
    border-radius: 24px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-label {
    color: white;

}

.create-workspace-form {
    background-color: #343a40;
    padding: 35px;
    border-radius: 24px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.workspace-entry:hover {
    background-color: #c9c4c4;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.workspace-name-description-container {
    margin-bottom: 10px;
    word-break: break-all;
}

.workspace-name-description-container {
    margin: 0 auto 0 0;
}

.workspace-name-description-container:first-child {
    width: 100%;
}


.workspace-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.workspace-entry-list td {
    word-break: break-all;
    margin: 20px 0;
    padding: 20px;
}

.workspace-name-td, .workspace-owner-td {
    width: 25%;

}

.workspace-description-td {
    width: 40%;

}

.workspace-btn-td {
    width: 10%;

}


.user-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

#user-picture {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-right: 20px;
    border: 1px solid #ccc;
}


.workspace-name-description-btn-container {
    /*align-content: center;*/
    /*justify-content: center;*/
}


/*.workspace-description {*/
/*    font-size: 0.8rem;*/
/*    line-height: 1.2rem;*/
/*    max-height: calc(1.2rem * 8); !* Sets maximum height for eight lines *!*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    word-break: break-all;*/
/*    padding-right: 1em; !* Provide space for the ellipsis *!*/
/*}*/


.filter-container {
    margin: 20px;
}

#workspaceFilter, #ownershipFilter {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.workspaceList-list {

    background-color: #343a40;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 24px;
    height: 80vh;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    color: white;
    width: 100%;
}


.dropdown-edit {
    position: relative;
    display: inline-block;
}

.dropdown-menu-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

.enter-workspace-btn, .leave-workspace-btn {
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.toggle-dropdown-btn:hover {
    cursor: pointer;
}

.enter-workspace-btn {
    font-weight: bolder;
    width: 180px;
}

.enter-workspace-btn:hover {
    background-color: #9a9b9c;
    font-weight: bolder;
    width: 180px;
}

.leave-workspace-btn {
    color: rgb(201, 48, 44);
    font-weight: bolder;
    width: 180px;
}

.leave-workspace-btn:hover {
    background-color: rgb(201, 48, 44);
    color: white;
    font-weight: bolder;
    width: 180px;
}

.bi-grid, .bi-list-ul {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}

.workspace-name-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.workspace-owner {
    font-size: 0.8rem;
    color: #6c757d;
}

.workspace-description-div {
    overflow-y: auto;
    max-height: 300px;
}

.workspace-description {
    overflow-y: auto;
    max-height: 120px;
    font-size: 0.8rem;
}

th {
    text-align: center;
}


.workspace-name-td, .workspace-description-td, .workspace-owner-td, .workspace-btn-td {
    border: white 1px solid;

}

.workspace-name-td, .workspace-owner-td, .workspace-btn-td {
    text-align: center;

}


header {
    height: 12vh;
    color: #495464;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 20px;
    background-image: url('https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/home-plants.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-dropdown-btn-edit {
    cursor: pointer;

}

.user-setting {
    margin-left: 24px;
    padding: 8px 16px;
}

.nav-link, .nav-link:hover {
    color: black;
    margin: 5px 0;
}


.p-3 {
    padding: 0 !important;
}


.dropdown-menu-edit {
    display: none; /* Hide the dropdown menu by default */
    position: absolute;
    will-change: transform;
}

.dropdown-menu-edit.show {
    display: block; /* Display the dropdown menu when the dropdown is active */
}

.dropdown-menu-edit {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


@media (max-width: 992px) {
    .workspace-name-description-container, .workspace-name-description-btn-container {
        flex-direction: column;
        align-items: center;

    }

    .btn {
        width: 100%; /* Full width buttons */
        margin-top: 10px; /* Extra margin for stacked layout */
    }
}

@media (max-width: 992px) {
    .user-detail {
        flex-direction: column; /* Stack information vertically */
        align-items: center; /* Center align to maintain aesthetics */
        text-align: center; /* Text aligned center */
    }

    .user-detail img {
        margin-bottom: 10px; /* Space between image and name when stacked */
    }

    .user-information {
        flex-direction: column;
        align-items: center;

    }
}

@media (max-width: 1440px) {

    .workspace-entry {
        width: 100%;
        height: 300px;
    }

}

