body {
    background-color: #495464;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.mid-workspace {
    flex: 3;
}

.right-workspace {
    flex: 7;
}

.member, .friend {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: white;
}

#fileList {
    height: 90vh;
    overflow-y: auto;
}

#userList, #add-friend-member {
    height: 40vh;
    overflow-y: auto;
    background-color: #343a40;
    padding: 15px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.file-entry {
    margin: 20px;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    max-height: 250px;
    overflow-y: auto;
    word-break: break-all;
}

.file-name-description {
    font-size: 1rem;
}

.remove-member-btn-img, .add-member-btn-img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.hidden {
    display: none;

}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.create-btn {
    display: block;
}


#workspace-information, #edit-workspace-form, #fileList {
    margin: 20px;
    padding: 20px;
    background-color: #343a40;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    word-break: break-all;
}

#workspace-information > p {
    color: white;

}


#create-new-file {
    margin: 20px;
    padding: 20px;
    background-color: #343a40;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

#file-creation-form > div > label {
    color: white;
}


#groupChat {
    margin: 20px;
    padding: 20px;
    background-color: #343a40;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}


#chat-box {

    height: 75vh;
    margin: 10px;
    padding: 20px;
    overflow-y: scroll;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}


#chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chat-input-box {
    width: 90%;
    margin: 10px;
    border-radius: 8px;
}

#file-name-input, #file-description {
    border-radius: 8px;
}

#chat-send-btn {
    height: 48px;
    width: 102px;
    cursor: pointer;

}

.chat-message-time {
    font-size: 0.6rem;
    color: #6c757d;
}


.member, .friend, .file-entry {
    background-color: #F4F4F2;
}

#edit-workspace-form {
    background-color: #343a40;
}

#edit-workspace-form > p {
    color: white;

}

.workspace-member-email, .friend-email {
    font-style: italic;
    font-size: 0.8rem;
}


#chat-messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}


.chat-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 90vh; /* Adjust based on your layout */
    overflow-y: scroll;
    background-color: #f0f2f5; /* Light gray background similar to Messenger */
}

.message, .self-message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 18px;
    word-break: break-all;
}


#chat-messages .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: #e9ecef;
    border-radius: 16px;
}

.message {
    align-self: flex-start;
    display: inline-block;
    background-color: #e4e6eb; /* Light gray bubble for friend's messages */
    word-wrap: break-word;
    max-width: 60%;
}

.self-message {
    align-self: flex-end;
    display: inline-block;
    background-color: #0084ff; /* Messenger blue for own messages */
    color: white;
    word-wrap: break-word;
    max-width: 60%;
}

.chat-message-join, .chat-message-leave {
    color: #9a9b9c;
    text-align: center;
    font-size: 0.8rem;
}