body {
    background-color: #495464;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.member, .friend {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: white;
}

#fileList {
    height: 80vh;
    overflow-y: auto;
}

#userList, #add-friend-member {
    height: 40vh;
    overflow-y: auto;
}

.file-entry {
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: white;
    max-height: 250px;
    overflow-y: auto;
}

.file-name-description {
    font-size: 1rem;
}

.remove-member-btn-img, .add-member-btn-img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.hidden {
    display: none;

}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-btn {
    display: block;
}


#workspace-information {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

#create-new-file {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.member, .friend, #workspace-information, #create-new-file, .file-entry {
    background-color: #F4F4F2;
}

.workspace-member-email, .friend-email {
    font-style: italic;
    font-size: 0.8rem;
}

#chat-messages .message {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #e9ecef;
    border-radius: 5px;
}


#chat-box {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
