#shareWords-logo {
    width: 6rem;
    margin: 0 auto;
    display: block;

}

.nav-link:hover {
    background-color: #6f7071;
}

a:hover {
    cursor: pointer;
}


#user-sidebar-placeholder, #sidebar-placeholder {
    background-color: #F4F4F2;
    padding: 10px;
    height: 100vh;
    position: fixed;
    width: 120px;
    overflow-y: auto;
}


