#root {
    display: flex;
    height: 100vh; /* This sets the height of the root to fill the entire viewport height */
}

.left-container, .right-container {
    flex: 1; /* This makes each container take up half of the available space */
    display: flex;
    align-items: center; /* This vertically aligns items in the center */
    justify-content: center; /* This horizontally centers the content */
}

.carousel {
    width: 90%; /* Adjust the width of the carousel to your liking */
}

#signupForm {
    width: 300px; /* Adjust the width of the form to your liking */
}

.carousel img {
    max-width: 100%; /* Ensure images in the carousel fit to the container */
    height: auto; /* Maintain aspect ratio */
}
