<!doctype html>
<html>
<head>
    <title>CRDT</title>
    <style>

    </style>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <link href="/src/pages/common.css" rel="stylesheet">
    <link href="/src/pages/home.css" rel="stylesheet">
    <link href="/src/pages/createworkspace.css" rel="stylesheet">
    <link href="/src/components/asideWorkspace.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div id="user-sidebar-placeholder"></div>
    <div style="background-color: rgba(225, 225, 255, 0.7); width: 5px; display: block;"></div>
    <div class="mid-workspace ">
        <h1>User Information</h1>
        <div id="user-information-detail">

        </div>
    </div>
    <div style="background-color: rgba(225, 225, 255, 0.7); width: 5px; display: block;"></div>
    <div class=" create-workspace-zone">
        <h1 class="create-workspace-title">Create Workspace</h1>
        <div class="create-workspace-form">
            <form>
                <div class="mb-3">
                    <label class="form-label" for="workspaceName">Workspace Name</label>
                    <input aria-describedby="workspaceNameHelp" class="form-control" id="workspaceName"
                           name="workspaceName" placeholder="Enter workspace name" required type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="workspaceDescription">Workspace Description</label>
                    <textarea aria-describedby="workspaceDescriptionHelp" class="form-control" id="workspaceDescription"
                              name="workspaceDescription"
                              placeholder="Enter workspace description" required type="text"></textarea>
                </div>
                <button class="btn btn-success create-workspace-btn" type="submit">Create workspace</button>
            </form>
        </div>
    </div>


</div>

<div class="modal" id="friendRequestModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Friend Request</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="friendRequestMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.9/ace.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/src/components/asideWorkspace.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/src/pages/socketIO.js"></script>
<script src="/src/pages/createworkspace.js"></script>
</body>
</html>
