<!doctype html>
<html>
<head>
    <title>ShareWords Home</title>
    <style>

    </style>
    <link href="/logo/favicon-32x32.png" rel="icon" type="image/x-icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <link href="/src/pages/common.css" rel="stylesheet">
    <link href="/src/pages/home.css" rel="stylesheet">
    <link href="/src/pages/friends.css" rel="stylesheet">
    <link href="/src/components/asideWorkspace.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <!--    ===============sidebar===================-->
    <div class="d-flex flex-nowrap" id="user-sidebar-placeholder">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0  link-body-emphasis text-decoration-none"
               href="#workspace-container">
                <!--                <svg>-->
                <use xlink:href="#bootstrap"></use>
                <img id="shareWords-logo" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/sharewordslogo.png>
                <!--                </svg>-->
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="#workspace-container">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/home.png
                                 width="24">
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <a class="nav-link link-body-emphasis" href="#user-workspace">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/workspace.png
                                 width="24">
                        </svg>
                        Workspaces
                    </a>
                </li>
                <li>
                    <a class="nav-link link-body-emphasis" href="#user-friends-search-zone-container">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/friends.png
                                 width="24">
                        </svg>
                        Friends
                    </a>
                </li>
                <li id="searchBox-aside">
                    <a class="nav-link link-body-emphasis" href="#searchBox">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/search.png
                                 width="24">
                        </svg>
                        Search Friends
                    </a>
                </li>

            </ul>
            <hr>
            <div class="dropdown">
                <a aria-expanded="false"
                   class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle user-setting"
                   data-bs-toggle="dropdown" href="#">
                    <img alt="" class="rounded-circle me-2" height="32" id="rounded-circle"
                         src="http://d2sgme9h4fi9e0.cloudfront.net/sharewords/userPicture/1_user-woman.png"
                         width="32">
                    <strong id="user-account">Alice</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Home</a></li>
                    <li><a class="dropdown-item" href="#user-workspace">Workspace</a></li>
                    <li><a class="dropdown-item" href="#" onclick="document.getElementById('fileInput').click();">Upload
                        New Photo</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/index.html">Sign out</a></li>
                </ul>
            </div>

        </div>
    </div>


    <div id="workspace-container">

        <header>
            Welcome back to ShareWords!!
        </header>

        <div id="workspace-mid-user-container">
            <!--    =============== userInfo  ===================-->
            <div class="user-information " id="user-information"> <!--mid-workspace-->
                <div class="user-workspaceList-head-container">
                    <h2>User Information</h2>
                    <div id="user-information-detail"></div>
                </div>
                <div class=" create-workspace">
                    <h2 class="create-workspace-title">Create New Workspace</h2>
                    <div class="create-workspace-form">
                        <form id="create-new-workspace-form">
                            <div class="mb-3">
                                <label class="form-label" for="workspaceName">Workspace Name</label>
                                <input aria-describedby="workspaceNameHelp" class="form-control" id="workspaceName"
                                       maxlength="255"
                                       name="workspaceName" placeholder="Enter workspace name "
                                       required type="text">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="workspaceDescription">Workspace Description</label>
                                <textarea aria-describedby="workspaceDescriptionHelp" class="form-control"
                                          id="workspaceDescription"
                                          name="workspaceDescription"
                                          placeholder="Enter workspace description" required
                                          type="text"></textarea>
                            </div>
                            <button class="btn btn-success create-workspace-btn" id="create-new-workspace-btn"
                                    type="submit">
                                Create New Workspace
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--    =============== workspace  ===================-->
            <div class="user-workspace-container" id="user-workspace">

                <div class="user-workspaceList">
                    <div class="workspace-workspaceList-head-container">
                        <h2>Workspace</h2>
                        <div class="filter-container">
                            <svg class="bi bi-grid" fill="white" height="42" onclick="toggleView('grid') "
                                 style="display: none"
                                 viewBox="0 0 16 16" width="42"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
                            </svg>
                            <svg class="bi bi-list-ul" fill="white" height="42" onclick="toggleView('list')"

                                 viewBox="0 0 16 16" width="42"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
                                      fill-rule="evenodd"/>
                            </svg>

                            <select id="ownershipFilter" onchange="filterWorkspaces()">
                                <option value="all">All Workspaces</option>
                                <option value="mine">My Workspaces</option>
                                <option value="others">Other Workspaces</option>
                            </select>
                            <input id="workspaceFilter" oninput="filterWorkspaces()" placeholder="Filter workspaces..."
                                   type="text">
                        </div>
                    </div>
                    <div class="workspaceList workspaceList-grid"></div>
                    <div class="workspaceList-list" id="workspaceList-list" style="display: none">
                        <table>
                            <thead>
                            <tr>
                                <th>Workspace Name</th>
                                <th>Description</th>
                                <th>Owner</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="workspaceList-list-tbody">


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!--    =============== friends  ===================-->
            <div id="user-friends-search-zone-container">
                <div class="user-friends-zone">
                    <h2>User Friends</h2>
                    <div id="friends-list">
                    </div>

                    <h2> Friend Request </h2>
                    <div id="friends-request-list">
                        <div class="friend-request-item">
                        </div>
                    </div>
                </div>
                <div class="user-search-zone">
                    <h2>Search Users</h2>
                    <label for="searchBox"></label><input id="searchBox" placeholder="Search User Name" type="text">
                    <!--        <button class="btn btn-primary" id="search-user-list" type="submit">Search</button>-->
                    <div id="userList">
                        <!-- User items will be dynamically inserted here -->
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
<!--modal for invitation-->
<div class="modal" id="friendRequestModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Friend Request</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="friendRequestMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.9/ace.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script crossorigin="anonymous"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!--<script src="/src/pages/createWorkspace.js"></script>-->
<script src="/src/pages/friends.js"></script>
<!--<script src="/src/components/asideWorkspace.js"></script>-->
<script src="/src/pages/socketIO.js"></script>
<script src="/src/pages/home.js"></script>
<script>


    function filterWorkspaces() {
        // Get filter values
        let textFilter = document.getElementById('workspaceFilter').value.toLowerCase();
        let ownershipFilter = document.getElementById('ownershipFilter').value;
        let currentUserEmail = document.getElementById('user-info-email').textContent.toLowerCase();

        // console.log("textFilter : " + textFilter);
        // console.log("ownershipFilter : " + ownershipFilter);
        // console.log("currentUserEmail : " + currentUserEmail);
        let gridEntries = document.querySelectorAll('.workspace-entry');
        let listEntries = document.querySelectorAll('.workspace-entry-list');
        // console.log(gridEntries)
        // console.log(listEntries)

        function isVisible(workspaceName, workspaceDescription, workspaceOwner) {
            let textMatch = workspaceName.includes(textFilter) || workspaceDescription.includes(textFilter) || workspaceOwner.includes(textFilter);
            let ownershipMatch = (ownershipFilter === "all") ||
                (ownershipFilter === "mine" && workspaceOwner === currentUserEmail) ||
                (ownershipFilter === "others" && workspaceOwner !== currentUserEmail);
            // console.log(workspaceOwner, currentUserEmail)
            // console.log(`Matching ${workspaceName} | ${workspaceDescription} | ${workspaceOwner} => Text: ${textMatch}, Ownership: ${ownershipMatch}`);
            return textMatch && ownershipMatch;
        }


        gridEntries.forEach(entry => {
            let workspaceName = entry.querySelector('.workspace-name').textContent.toLowerCase().replace('workspace name: ', '');
            let workspaceDescription = entry.querySelector('.workspace-description').textContent.toLowerCase().replace('workspace description: ', '');
            let workspaceOwner = entry.querySelector('.workspace-owner').textContent.toLowerCase().replace('workspace owner : ', '');
            console.log(workspaceName, workspaceDescription, workspaceOwner);
            entry.style.display = isVisible(workspaceName, workspaceDescription, workspaceOwner) ? '' : 'none';
        });


        listEntries.forEach(entry => {
            let workspaceName = entry.cells[0].textContent.toLowerCase();
            let workspaceDescription = entry.cells[1].textContent.toLowerCase();
            let workspaceOwner = entry.cells[2].textContent.toLowerCase();
            console.log(workspaceName, workspaceDescription, workspaceOwner);
            entry.style.display = isVisible(workspaceName, workspaceDescription, workspaceOwner) ? '' : 'none';
        });
    }


    function toggleView(viewType) {
        const container = document.querySelector('.workspace-container');
        if (viewType === 'grid') {
            document.querySelector('.workspaceList-grid').style.display = '';
            document.querySelector('.workspaceList-list').style.display = 'none';
            document.querySelector('.bi-grid').style.display = 'none';
            document.querySelector('.bi-list-ul').style.display = '';
        } else if (viewType === 'list') {
            document.querySelector('.workspaceList-grid').style.display = 'none';
            document.querySelector('.workspaceList-list').style.display = '';

            document.querySelector('.bi-grid').style.display = '';
            document.querySelector('.bi-list-ul').style.display = 'none';
        }
    }

    document.querySelector('#user-account').textContent = localStorage.getItem('username');


</script>


</body>
</html>
