<!doctype html>
<html>
<head>
    <title>ShareWords Workspace</title>
    <style>

    </style>
    <link rel="icon" href="/logo/favicon-32x32.png" type="image/x-icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <link href="/src/pages/common.css" rel="stylesheet">
    <link href="/src/components/asideWorkspace.css" rel="stylesheet">
    <link href="/src/pages/workspace.css" rel="stylesheet">
</head>
<body class>

<div class="container">
    <div class="d-flex flex-nowrap" id="user-sidebar-placeholder">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
            <a class="d-flex align-items-center mb-3 mb-md-0  link-body-emphasis text-decoration-none" href="#workspace-information-head">
                <!--                <svg>-->
                <use xlink:href="#bootstrap"></use>
                <img id="shareWords-logo" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/sharewordslogo.png>
                <!--                </svg>-->
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a class="nav-link link-body-emphasis" href="#workspace-information-head">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/workspace.png width="24">
                        </svg>
                        Workspace
                    </a>
                </li>
                <li id="file-aside-list">
                    <a class="nav-link link-body-emphasis" href="#file-zone">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/file.png width="24">
                        </svg>
                        Files
                    </a>
                </li>
                <li>
                    <a class="nav-link link-body-emphasis" href="#room-zone">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/friends.png width="24">
                        </svg>
                        Members
                    </a>
                </li>
                <li id="chat-aside-list">
                    <a class="nav-link link-body-emphasis" href="#groupChat-container-head">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/chat.png width="24">
                        </svg>
                        Group Chats
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-current="page" class="nav-link" href="/admin/home">
                        <svg class="bi pe-none me-2" height="16" width="16">
                            <use xlink:href="#home"></use>
                            <img height="24" src=https://d2sgme9h4fi9e0.cloudfront.net/sharewords/logo/home.png width="24">
                        </svg>
                        Back to Home
                    </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a aria-expanded="false"
                   class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle user-setting"
                   data-bs-toggle="dropdown" href="#">
                    <img alt="" class="rounded-circle me-2" height="32" id="rounded-circle" src="">
                    <strong id="user-account">User</strong>
                </a>
                <ul class="dropdown-menu text-small shadow">
<!--                    <li><a class="dropdown-item" href="#">Home</a></li>-->
<!--                    <li><a class="dropdown-item" href="#user-workspace">My Workspaces</a></li>-->
<!--                    <li><a class="dropdown-item" href="#" onclick="document.getElementById('fileInput').click();">Upload-->
<!--                        New Photo</a></li>-->
<!--                    <li>-->
<!--                        <hr class="dropdown-divider">-->
<!--                    </li>-->
                    <li><a class="dropdown-item" href="/index.html">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="workspace-container">
        <div id="file-container">
            <div id="workspace-information-create-file-zone">
                <div class="content-section" id="workspace-information-container">
                    <div id="workspace-information-head">
                        <h2>Workspace Information</h2>
                    </div>
                    <div id="workspace-information">
                        <div id="workspace-information-title">
                            <strong>Name: <span id="workspace-name"></span></strong>

                            <div class="dropdown">
                                <div class="toggle-dropdown-btn" onclick="toggleDropdown(event)">
                                    <svg class="bi bi-three-dots-vertical" fill="white" height="32" viewBox="0 0 16 16"
                                         width="32" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                </div>
                                <div class="dropdown-menu" style="display: none;">
                                    <button class="edit-workspace-btn btn " onclick="toggleEdit()" type="button">Edit
                                        Workspace
                                    </button>
                                    <button class="delete-workspace-btn btn " id="delete-workspace-btn" type="button">
                                        Delete Workspace
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr style=" border: 1px solid white;">
                        <p><strong style="font-size: 1.2rem">Description:</strong><br><div id="workspace-description"></div>
                        </p>
                        <p><strong>Owner:</strong> <span id="workspace-owner"></span></p>
                        <p><strong>Creation Date:</strong> <span id="workspace-creation-date"></span></p>
                        <!--                <button class="edit-workspace-btn btn btn-primary" onclick="toggleEdit()" type="button">Edit Workspace-->
                        <!--                </button>-->
                        <!--                <button class="delete-workspace-btn btn btn-danger" id="delete-workspace-btn" type="button">Delete-->
                        <!--                    Workspace-->
                        <!--                </button>-->
                    </div>
                    <div id="edit-workspace-form" style="display:none;">
                        <p><strong>Name:</strong>
                            <span id="workspace-name-edit">
                        <input id="edit-name" placeholder="Enter new workspace name" type="text">
                    </span>
                        </p>
                        <p><strong>Description:</strong>
                            <span id="workspace-description-edit">
                        <input id="edit-description" placeholder="Enter new description" type="text">
                    </span>
                        </p>

                        <button class="save-btn btn btn-success" id="edit-workspace-save-btn" type="button">Save
                        </button>
                        <button class="save-btn btn btn-danger" id="cancel-workspace-save-btn" type="button">Cancel
                        </button>
                    </div> </div>
                <div class="content-section" id="create-new-file-container">
                    <div id="create-new-file-container-head">
                        <h2>Creat New File</h2>
                    </div>
                    <div id="create-new-file">
                        <form id="file-creation-form">
                            <div>
                                <label for="file-name-input"><strong>File Name</strong> </label>
                                <input aria-label="file-name-input" id="file-name-input" maxlength="255"
                                       name="file" placeholder="Enter file name" required
                                       type="text">
                            </div>
                            <div>
                                <label for="file-description"><strong>File description</strong></label>
                                <textarea aria-label="file-description" id="file-description"
                                          name="file-description" placeholder="Enter file description"
                                          required></textarea>
                            </div>
                            <button class="create-btn btn btn-success" type="submit">Create File</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="content-section file-zone" id="file-zone">
                <h2>Existed Files</h2>
                <div id="fileList">
                </div>
            </div>

        </div>
        <div class="member-workspace">
            <div class="content-section" id="room-zone">
                <h2>Workspace members</h2>
                <div id="userList">
                    <div> Alice</div>
                    <div> Bob</div>
                    <div> Tony</div>
                </div>
                <h2> Add members</h2>
                <div id="add-friend-member">

                </div>
            </div>
            <div class="content-section" id="groupChat-container">
                <div id="groupChat-container-head">
                    <h2>Group Chat</h2>
                </div>
                <div id="groupChat">
                    <div id="chat-box">
                        <div id="chat-messages">
                        </div>
                    </div>
                    <div id="chat-input">
                        <input id="chat-input-box" placeholder="Enter your message" type="text">
                        <button class="btn btn-primary" id="chat-send-btn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="friendRequestModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Friend Request</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <p id="friendRequestMessage"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.9/ace.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script crossorigin="anonymous"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!--<script src="/src/components/asideWorkspace.js"></script>-->
<script src="/src/pages/workspace.js"></script>
<script src="/src/pages/socketIO.js"></script>
<script>
    const now = new Date();
    const messagesContainer = document.getElementById('chat-messages');
    const inputBox = document.getElementById('chat-input-box');
    const sendButton = document.getElementById('chat-send-btn');
    const formattedDateTime = now.toLocaleString('en-CN').replace(',', '');

    socket.on('connect', () => {
        const data = {
            accessToken: accessToken,
            roomId: roomId,
            roomNumber:roomNumber
        };
        console.log("Data sent:", data);
        socket.emit('joinRoom', data, (ack) => {
            console.log('ack:', ack.userEmail + " has joined the room");
        });
    });


    function leaveRoom() {
        const data = {
            accessToken: accessToken,
            roomId: roomId,
            roomNumber:roomNumber
        };
        console.log("Data sent disconnected:", data);
        socket.emit('leftRoom', data, (ack) => {
            console.log('ack:', ack.userEmail + " has left the room");
            socket.disconnect();
        });
    }

    window.onbeforeunload = leaveRoom;

    //=============== ChatRoom User leave =================
    socket.on('leftRoom', (data) => {
        console.log("data", data)
        addUserLeftMessage(data.userEmail);
    });

    function addUserLeftMessage(userEmail) {
        const chatMessages = document.getElementById('chat-messages');
        const messageElement = document.createElement('div');
        messageElement.innerHTML = `
            <div class="join-room-message">
                <div class="chat-message-join">${userEmail} has left the room</div>
            </div>
        `;
        chatMessages.appendChild(messageElement);
    }


    //=============== ChatRoom User Join =================
    socket.on('joinRoom', (data) => {
        console.log("data", data)
        addUserJoinMessage(data.userEmail);
    });

    function addUserJoinMessage(userEmail) {
        const chatMessages = document.getElementById('chat-messages');
        const messageElement = document.createElement('div');
        messageElement.innerHTML = `
            <div class="join-room-message">
                <div class="chat-message-leave">${userEmail} has joined the room</div>
            </div>
        `;
        chatMessages.appendChild(messageElement);
    }


    sendButton.addEventListener('click', function () {
        const messageText = inputBox.value.trim();
        if (messageText) {
            const messageDiv = document.createElement('div');
            messageDiv.classList.add('message');
            messageDiv.textContent = messageText;
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
            inputBox.value = '';
        }
        socket.emit('chatMessage', {message: messageText, accessToken: accessToken, roomId: roomId , roomNumber:roomNumber}); // Send message to server

    });

    inputBox.addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            sendButton.click();
        }
    });


    socket.on("chatMessage", function (chatMessageDto) {
        console.log('Received chat message:', chatMessageDto);
        const chatMessages = document.getElementById('chat-messages');
        const messageElement = document.createElement('div');
        if (chatMessageDto.accessToken === accessToken) {
            messageElement.className = 'self-message';
            messageElement.innerHTML = `
                <div class="chat-message-text"> ${chatMessageDto.message}</div>
                <div class="chat-message-time">${formattedDateTime}</div>
            `;

        } else {
            messageElement.innerHTML = `
                <div class="chat-message-friends"><strong>${chatMessageDto.userEmail} : </strong></div>
                <div class="message">
                    <div class="chat-message-text-friends">${chatMessageDto.message}</div>
                    <div class="chat-message-time">${formattedDateTime}</div>
                </div>
            `;
        }

        chatMessages.appendChild(messageElement);
    });


    function toggleDropdown(event) {
        event.stopPropagation();
        let dropdown = event.currentTarget.parentNode.querySelector('.dropdown-menu-edit');
        const isVisible = dropdown.style.display === 'block';
        document.querySelectorAll('.dropdown-menu-edit').forEach(function (m) {
            m.style.display = 'none';
        });
        dropdown.style.display = isVisible ? 'none' : 'block';
    }

    window.onclick = function (event) {
        if (!event.target.closest('.dropdown-edit')) {
            document.querySelectorAll('.dropdown-menu-edit').forEach(function (menu) {
                menu.style.display = 'none';
            });
        }
    }


    document.querySelector('#user-account').textContent = localStorage.getItem('username');
    document.querySelector('#rounded-circle').src = localStorage.getItem('userImageURL');

</script>

</body>
</html>
